### PACKAGES

In [483]:
import pandas as pd
import numpy as np

### LOADING DATA

In [484]:
data = [{

    'Supplier Name': 'Infosys',

    'Region': 'APAC',

    'Country': 'India',

    'Function': 'IT & Infrastructure',

    'Service': 'Applications Development',

    'Avg. Cost($)': '100k',

    'Rating': '90',

    'Average Delivery Time': '90',

    'Number of Escalations': '5',

    'Year': '2018',

    'Resources': '10000'

},
    {

        'Supplier Name': 'Genpact',

        'Region': 'North America',

        'Country': 'United States',

        'Function': 'Consulting',

        'Service': 'Applications Development & Maintenance',

        'Avg. Cost($)': '150k',

        'Rating': 80,

        'Average Delivery Time': '180',

        'Number of Escalations': '40',

        'Year': '2017',

        'Resources': '6000'
    },
    {

        'Supplier Name': 'IBM',

        'Region': 'North America',

        'Country': 'United States',

        'Function': 'IT & Infrastructure',

        'Service': 'Mainframe services',

        'Avg. Cost($)': '150k',

        'Rating': 85,

        'Average Delivery Time': '180',

        'Number of Escalations': '100',

        'Year': '2014',

        'Resources': '8000'

    },
    {

        'Supplier Name': 'Capgemini',

        'Region': 'Europe',

        'Country': 'France',

        'Function': 'HR',

        'Service': 'Service Desk',

        'Avg. Cost($)': '100k',

        'Rating': 85,

        'Average Delivery Time': '270',

        'Number of Escalations': '150',

        'Year': '2016',

        'Resources': '5000'
    }]


df = pd.DataFrame(data)
df

,Supplier Name,Region,Country,Function,Service,Avg. Cost($),Rating,Average Delivery Time,Number of Escalations,Year,Resources
0,Infosys,APAC,India,IT & Infrastructure,Applications Development,100k,90,90,5,2018,10000
1,Genpact,North America,United States,Consulting,Applications Development & Maintenance,150k,80,180,40,2017,6000
2,IBM,North America,United States,IT & Infrastructure,Mainframe services,150k,85,180,100,2014,8000
3,Capgemini,Europe,France,HR,Service Desk,100k,85,270,150,2016,5000

In [485]:
required_df = df[["Supplier Name","Country","Year","Rating","Avg. Cost($)"]]
# df.rename({"Supplier Name":"supplier_name","Country":"country","Year":"year","Rating":"rating","Avg. Cost($)":"average_cost"},inplace=True)

In [486]:
required_df.rename(columns={"Supplier Name":"supplier_name","Country":"country","Year":"year","Rating":"rating","Avg. Cost($)":"average_cost"},inplace=True)

C:\Users\newton.sathyavety\AppData\Local\Temp\ipykernel_24320\1118148347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_df.rename(columns={"Supplier Name":"supplier_name","Country":"country","Year":"year","Rating":"rating","Avg. Cost($)":"average_cost"},inplace=True)

In [487]:
required_df

  supplier_name        country  year rating average_cost
0       Infosys          India  2018     90         100k
1       Genpact  United States  2017     80         150k
2           IBM  United States  2014     85         150k
3     Capgemini         France  2016     85         100k

## PREPROCESSING

##### CONVERTING CATEGORICAL TO BINARY FORMAT

In [488]:
from sklearn.preprocessing import OneHotEncoder

In [489]:
onehotencoder = OneHotEncoder()

In [490]:
feature_arr = onehotencoder.fit_transform(required_df[["supplier_name","country"]]).toarray()

In [491]:
feature_label = onehotencoder.categories_

In [492]:
feature_label = np.array(feature_label).ravel().tolist()

C:\Users\newton.sathyavety\AppData\Local\Temp\ipykernel_24320\3667537004.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  feature_label = np.array(feature_label).ravel().tolist()

In [493]:
flatList = [ item for elem in feature_label for item in elem]

In [494]:
feature = pd.DataFrame(feature_arr,columns=flatList)

In [495]:
final_df = pd.concat([feature, required_df[["year","rating","average_cost"]]],axis=1)
final_df

,Capgemini,Genpact,IBM,Infosys,France,India,United States,year,rating,average_cost
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2018,90,100k
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2017,80,150k
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2014,85,150k
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2016,85,100k

In [496]:
final_df.describe()

       Capgemini  Genpact   IBM  Infosys  France  India  United States
count       4.00     4.00  4.00     4.00    4.00   4.00        4.00000
mean        0.25     0.25  0.25     0.25    0.25   0.25        0.50000
std         0.50     0.50  0.50     0.50    0.50   0.50        0.57735
min         0.00     0.00  0.00     0.00    0.00   0.00        0.00000
25%         0.00     0.00  0.00     0.00    0.00   0.00        0.00000
50%         0.00     0.00  0.00     0.00    0.00   0.00        0.50000
75%         0.25     0.25  0.25     0.25    0.25   0.25        1.00000
max         1.00     1.00  1.00     1.00    1.00   1.00        1.00000

In [497]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Capgemini      4 non-null      float64
 1   Genpact        4 non-null      float64
 2   IBM            4 non-null      float64
 3   Infosys        4 non-null      float64
 4   France         4 non-null      float64
 5   India          4 non-null      float64
 6   United States  4 non-null      float64
 7   year           4 non-null      object
 8   rating         4 non-null      object
 9   average_cost   4 non-null      object
dtypes: float64(7), object(3)
memory usage: 448.0+ bytes

In [498]:
final_df["average_cost"].replace(to_replace="k",value="",regex=True,inplace=True)

# final_df["average_cost"].astype(str).astype(int)
final_df["average_cost"] = final_df["average_cost"].apply(lambda x:int(x)*1000)
final_df

,Capgemini,Genpact,IBM,Infosys,France,India,United States,year,rating,average_cost
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2018,90,100000
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2017,80,150000
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2014,85,150000
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2016,85,100000

##### SPLITTING THE VARIABLES X(DEPENDENT VARIABLES) AND Y(INDEPENDENT VARIABLES)

In [499]:
y = final_df.iloc[:,-1].values

In [500]:
x = final_df.iloc[:,:-1].values

##### STANDARD SCALING

In [501]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x[:,:] = sc.fit_transform(x[:,:])

##### TRAIN TEST SPLIT

In [502]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=0)

##### MODEL BUILDING

##### LINEAR REGRESSION

In [503]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [504]:
y_pred = lr.predict(x_test)

In [505]:
lr.score(x_train,y_train)

1.0

In [506]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

C:\Users\newton.sathyavety\OneDrive\Desktop\Project\env_ds\lib\site-packages\sklearn\metrics\_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

nan

##### DECISION TREE

In [507]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(random_state=0)
dt.fit(x_train,y_train)

DecisionTreeRegressor(random_state=0)

In [508]:
y_pred_dt = dt.predict(x_test)

In [509]:
y_pred_dt

array([100000.])

##### SHORT DESCRIPTION

In [510]:
# from sklearn.metrics import r2_score
# r2_score(y_pred_dt,y_train)

##### RANDOM FOREST

In [511]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=3)
rf.fit(x_train,y_train)

RandomForestRegressor(n_estimators=3)

In [512]:
y_pred_rf = rf.predict(x_test)
y_pred_rf

array([133333.33333333])

##### SHORT DESCRIPTION

In [513]:
# from sklearn.metrics import r2_score
# r2_score(y_pred_rf,y_train)